.node {
  border: solid 1px white;
  font: 12px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}

.currencies ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.currencies ul li {
  display: inline;
}
